.counter {
  margin: 12px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.up {
  margin-bottom: 5px;
}
.down {
  margin-top: 5px;
}
